.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputText,
.inputRange {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: var(--black)
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.inputText:focus,
.inputRange:focus,
.textarea:focus {
  outline: none;
  border-color: #007bff;
}

/* Добавляем стили для дропдауна */
.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  appearance: none; /* Убирает стандартный стиль стрелки */
  cursor: pointer;
  color: var(--black)
}

.dropdown:focus {
  outline: none;
  border-color: #007bff;
}
